<div class="subheader">
    <h1 class="subheader-title">
        <i class='fal fa-file-check'></i> Auditoria
    </h1>
</div>


<form name="mdmForm" id="mdmForm">
    <div id="nuevoFormulario">
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="panel-tag">
                Consulta de pistas de auditoría.
            </div>
            <div class="form-row row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Fecha Inicial</div>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" ng-model="CatDiasInhabiles.FechaDiaInhabil" placeholder="Fecha día inhábil" id="datepicker-2" required>
                        <div class="input-group-append">
                            <span class="input-group-text" style="min-width: 30px; text-align:center">
                                <i class="fal fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Fecha Final</div>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" ng-model="CatDiasInhabiles.FechaDiaInhabilFinal" placeholder="Fecha día inhábil" id="datepicker-3" required>
                        <div class="input-group-append">
                            <span class="input-group-text" style="min-width: 30px; text-align:center">
                                <i class="fal fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Usuario</div>
                        </div>
                        <select class="form-control">
                            <option value="">--Seleccione una opción--</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Tipo de movimiento</div>
                        </div>
                        <select class="form-control">
                            <option value="">--Seleccione una opción--</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="frame-wrap">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/Assets/js/App/administracionApp.js"></script>
    <script src="~/Assets/js/App/AdministracionService.js"></script>
    <script src="~/Assets/js/App/AppControladores/HomeController.js"></script>
}




