<footer class="page-footer footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        @*<span class="hidden-md-down fw-700">2021 © Gobierno Digital - Gobierno del Estado de México</span>*@
        <span class="hidden-md-down fw-700">2021 © {{APP}} - {{Nombre}}</span>
    </div>
</footer>


<!-- Footer de Ruben-FUNCIONAL -->
@*
<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted" ng-controller="ctrlInicio as cd">
        <span class="hidden-md-down fw-700">2021 © Gobierno Digital - {{cd.nombreImplementacion}}</span>
    </div>
</footer>
*@