<div class="subheader">
    <h1 class="subheader-title">
        <i class='fal fa-calendar-alt'></i> Días Inhábiles
    </h1>
</div>

<form name="mdmForm" id="mdmForm" ng-app="AppAdministracion"
      ng-cloak ng-controller="crtlDiasInhabiles"
      ng-submit="mdmForm.$valid && ValidarAccion()">

    @*Tabla Inicial*@
    <div id="tablaInicial" style="display:block">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acciones<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-backdrop="static" ng-click="NuevoPuesto()"><i class="fal fa-plus"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                        <table id="dt-resumen" class="table table-bordered table-hover table-striped w-100 tablaPSRPrincipal">
                            <thead>
                                <tr>
                                    <th>Editar</th>
                                    <th>Dia Inhábil</th>
                                    <th>Motivo</th>
                                    <th>Aplica para</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tabla in tablaDiasInhabiles">
                                    <td align="center">
                                        <a href='#' ng-click="ValidarTarea(tabla, 'Actualizar')" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#default-example-modal-lg" class='btn btn-sm btn-outline-primary btn-icon btn-inline-block mr-1' title='Editar'><i class='fal fa-edit'></i></a>
                                    </td>
                                    <td align="center">{{tabla.FechaDiaInhabil}}</td>
                                    <td align="center">{{tabla.Motivo}}</td>
                                    <td align="center">{{tabla.Aplica}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*Nuevo Formulario*@
    <div id="nuevoFormulario" style="display:none">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acciones<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-backdrop="static" ng-click="MostrarListado()"><i class="fal fa-align-justify"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            @*Formulario*@
            <div class="form-row row align-items-center">
                @*Fecha Inicial*@
                <div class="col-12 col-lg-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Dia Inhábil</div>
                        </div>

                        <input type="text" class="form-control" autocomplete="off" ng-model="CatDiasInhabiles.FechaDiaInhabil" placeholder="Fecha día inhábil" id="datepicker-2" required>
                        <div class="input-group-append">
                            <span class="input-group-text" style="min-width: 30px; text-align:center">
                                <i class="fal fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6" ng-show="mostrarFechaFinal">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Fecha Final</div>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" ng-model="CatDiasInhabiles.FechaDiaInhabilFinal" placeholder="Fecha día inhábil" id="datepicker-3" required>
                        <div class="input-group-append">
                            <span class="input-group-text" style="min-width: 30px; text-align:center">
                                <i class="fal fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                @*Entidad Federativa*@
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Entidad Federativa</div>
                        </div>
                        <div class="s2-container-good">
                            <select class="form-control" aria-label="small" aria-describedby="label" disabled
                                    ng-options="tblEntidadFederativa as tblEntidadFederativa.Estado for tblEntidadFederativa in EntidadesFederativas"
                                    ng-model="EntidadFederativa" ng-change="setEntidadFederativa(EntidadFederativa)" required>
                                <option value="">--Seleccione una opción--</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*Municipio*@
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Municipio</div>
                        </div>
                        <div class="s2-container-good">
                            <select class="form-control select2Municipio" aria-label="small" aria-describedby="label"
                                    ng-options="tblMunicipios as tblMunicipios.Municipio for tblMunicipios in Municipios"
                                    ng-model="Municipio" ng-change="setMunicipio(Municipio)" required>
                                <option value="">--Seleccione una opción--</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*Aplica Para*@
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Aplica para</div>
                        </div>

                        <div class="s2-container-good">
                            <select class="form-control "
                                    aria-label="small" aria-describedby="label"
                                    ng-options="lstAplicafor.NombreItem                  for lstAplicafor in lstAplicafor"
                                    ng-model="Aplica" ng-change="setAplica(Aplica)" required>
                                <option value="">--Seleccione una opción--</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*Motivo*@
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Motivo</div>
                        </div>
                        <div class="s2-container-good">
                            <select class="form-control " aria-label="small" aria-describedby="label"
                                    ng-options="tblMotivosDiasInhabiles as tblMotivosDiasInhabiles.Motivo for tblMotivosDiasInhabiles in tablaMotivosDiasInhabiles"
                                    ng-model="MotivoDiasInhabiles"
                                    ng-change="setMotivoDiasInhabiles(MotivoDiasInhabiles)" required>
                                <option value="">--Seleccione una opción--</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" ng-click="GetMotivoDiasInhabiles()" data-keyboard="false" data-target="#frmMotivos">Nuevo Motivo</button>
                    </div>
                </div>



                @*Guardado del Formulario*@
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="frame-wrap">
                            <button type="submit" ng-show="btnGuardar" class="btn btn-primary">Guardar</button>
                            <button type="submit" ng-show="btnActualizar" class="btn btn-primary">Actualizar</button>
                            <button type="button" ng-show="btnEliminar" ng-click="eliminarFecha()" class="btn btn-primary">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>





            @*Modal Motivos*@
            <div class="modal hide fade" id="frmMotivos" style="z-index: 6000;">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-white bg-primary-500">
                            <h5 class="modal-title">Motivo Día Inhabil</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-row row align-items-center">
                                <div class="col-12 col-lg-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Nuevo Motivo</div>
                                        </div>
                                        <input type="text"  pattern="(?=.*[a-z])([A-Za-zÁ-ú0-9 .]).{3,}" autocomplete="off" ng-model="MotivoDiaInhabil.Motivo" class="form-control" placeholder="Nuevo motivo">
                                        <button type="button" ng-click="GuardarNuevoMotivo()" class="btn btn-primary">Agregar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-tag">
                                Motivos
                            </div>
                            <div class="form-row row align-items-center">
                                <div class="col-12 col-lg-12">
                                    <table id="TbMotivos" class="table table-bordered table-hover table-striped w-100">
                                        <thead>
                                            <tr>
                                                <th>Eliminar</th>
                                                <th>Nombre</th>
                                                @*<th>Fecha alta</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tablaMotivos in tablaMotivosDiasInhabiles">
                                                <td align="center">
                                                    <a href='#' ng-click="ValidarMotivoDiaInhabil(tablaMotivos, 'Actualizar')" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#frmMotivosCambios" class='btn btn-sm btn-outline-primary btn-icon btn-inline-block mr-1' title='Editar'><i class='fal fa-trash'></i></a>
                                                    @* <a href='#' ng-click="ValidarMotivoDiaInhabil(tablaMotivos)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#frmMotivosCambios" class='btn btn-sm btn-outline-primary btn-icon btn-inline-block mr-1' title='Editar'><i class='fal fa-trash'></i></a>*@
                                                </td>
                                                <td>{{tablaMotivos.Motivo}}</td>
                                                @*<td>{{tablaMotivos.FechaInicio.replace('/Date(','').replace(')/','') | date:"dd/MM/yyyy" }}</td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-lg-12">
                                <div class="frame-wrap">
                                    <button type="button" ng-click="CerrarModal()" class="btn btn-primary">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Modal Motivos Cambios*@
            @*<div class="modal hide fade" id="frmMotivosCambios" style="z-index: 6100;">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white bg-primary-500">
                                <h5 class="modal-title">Motivo Día Inhabil</h5>
                            </div>
                            <div class="modal-body" style="height:90px">
                                <div class="form-row row align-items-center">
                                    <div class="col-12 col-lg-12">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Nuevo Motivo Modal</div>
                                            </div>
                                            <input type="text" autocomplete="off" ng-model="MotivoDiaInhabil.Motivo" class="form-control" placeholder="Nuevo motivo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="ActualizarMotivo()" class="btn btn-primary">Guardar</button>
                                <button type="button" ng-click="CerrarModalCambios()" class="btn btn-primary">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</form>


@section scripts
{
    <script src="~/Assets/js/App/administracionApp.js"></script>
    <script src="~/Assets/js/App/AdministracionService.js"></script>
    <script src="~/Assets/js/App/AppControladores/Dias/DiasInhabilesController.js"></script>
}
