<div class="subheader">
    <h1 class="subheader-title">
        <i class='fal fa-network-wired'></i> Administración de aplicaciones
    </h1>
</div>
<form name="mdmForm" id="mdmForm" ng-app="AppAdministracion" ng-cloak ng-controller="crtlAdministracion" ng-submit="mdmForm.$valid">
    <div id="tablaInicial" style="display:block">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acciones<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                        <table id="dt-resumen" class="table table-bordered table-hover table-striped w-100 tablaPSRPrincipal">
                            <thead>
                                <tr>
                                    <th>Editar</th>
                                    <th>Aplicación</th>
                                    <th>Descripción</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="buz in buzones">
                                    <td align="center">
                                        <a href='#' ng-click="ValidarTarea(buz, 'Actualizar')" class='btn btn-sm btn-outline-primary btn-icon btn-inline-block mr-1' title='Editar'><i class='fal fa-edit'></i></a>
                                        <div class='dropdown d-inline-block'></div>
                                    </td>
                                    <td>{{buz.NombreBuzon}}</td>
                                    <td>{{buz.Descripcion}}</td>
                                    <td>{{buz.CStatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="nuevoFormulario" style="display:none">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acciones<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" data-backdrop="static" data-keyboard="false" data-toggle="tooltip" title="Listado" data-target="#default-example-modal-lg" ng-click="MostrarListado()"><i class="fal fa-arrow-left"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="form-row row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Tipo de aplicación</div>
                        </div>
                        <!--<select class="form-control" type="text"-->
                                @*ng-options="apl.RIDAplicacion as apl.NombreAplicacion for apl in aplicaciones"*@
                                <!--ng-model="buzon.NombreAplicacion" disabled>
                        </select>-->
                        <input type="text" class="form-control" ng-model="buzon.NombreAplicacion" placeholder="Nombre buzón" disabled>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Nombre de la aplicación</div>
                        </div>
                        <input type="text" class="form-control" ng-model="buzon.NombreBuzon" placeholder="Nombre buzón" disabled>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Alias</div>
                        </div>
                        <input type="text" class="form-control" ng-model="buzon.AliasBuzon" placeholder="Alias" disabled>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Descripción</div>
                        </div>
                        <input type="text" class="form-control" ng-model="buzon.Descripcion" placeholder="Descripción" disabled>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Estatus</div>
                        </div>
                        <input type="text" class="form-control border-info" ng-model="buzon.CStatus" value="Activo" placeholder="Estatus" disabled>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Nuevo estatus</div>
                        </div>
                        <select class="form-control border-info"
                                ng-options="statusBuzon for statusBuzon in EstatusCondicion"
                                ng-model="statusBuzon" ng-change="ActualizarEstatusBuzon(statusBuzon)">
                            <option value="">--Seleccione una opción--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row row align-items-center">
                <div class="col-lg-12">
                    <div class="form-group">
                        <br />
                        <div class="frame-wrap">
                            <button type="button" ng-click="Actualizar()" ng-show="btnActualizar" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="modal hide fade" id="tabla-cambioEstatus" style="z-index: 6100;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-primary-500">
                    <h5 class="modal-title">Confirmación de cambio de estatus</h5>
                </div>
                <div class="modal-body" style="height: calc(175px)">
                    <div class="form-row row align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text  ">Fecha de autorización</div>
                                </div>
                                <input type="text" class="form-control" placeholder="Fecha de autorización">
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text  ">Nombre de quien autoriza</div>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre de quien autoriza">
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text  ">Documento autorizacion</div>
                                </div>
                                <input type="text" class="form-control" placeholder="Documento de autorizacion">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <div class="frame-wrap">
                            <button type="button" ng-click="GuardarNuevoEstatus()" class="btn btn-primary">Aceptar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@

</form>
@section scripts{
    <script src="~/Assets/js/App/administracionApp.js"></script>
    <script src="~/Assets/js/App/AdministracionService.js"></script>
    <script src="~/Assets/js/App/AppControladores/Aplicaciones/AdministracionController.js"></script>
    <script src="~/Assets/js/App/AppControladores/HomeController.js"></script>
}