<div class="subheader">
    <h1 class="subheader-title">
        <i class='fal fa-user'></i> Desbloqueo de cuenta
    </h1>
</div>

<form name="mdmForm" id="mdmForm" ng-app="AppAdministracion" ng-cloak ng-controller="crtlAccesoUsuario" ng-submit="mdmForm.$valid && ValidarAccion()">
    <div id="tablaInicial" style="display:block">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-tag">
                        Búsqueda
                    </div>
                    @*Busqueda de usuario*@
                    <div class="form-row row align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Usuario ID</label>
                                </div>
                                <input id="#inputUserID" type="text" autocomplete="off" class="form-control" placeholder="Ej. AAAA1111AAAA" ng-model="user.UserID" style="text-transform:uppercase" onkeydown="return /^[a-zA-Z0-9]/i.test(event.key)">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Código de verificación</label>
                                </div>
                                <input id="#inputUserPW" type="text" autocomplete="off" class="form-control" placeholder="Ej. A1B2C3D4" ng-model="user.UserPW" style="text-transform:uppercase" onkeydown="return /^[a-zA-Z0-9]/i.test(event.key)">
                                <button style="margin-left: 10px" type="button" class="btn btn-primary" data-toggle="modal" ng-click="buscarUser()" data-backdrop="static" data-keyboard="false" data-target="#frmPuestos">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    @*Datos de usuario*@
                    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g" id="#datosUsuario">
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="panel-tag">
                                    Usuario
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Usuario ID</div>
                                        </div>
                                        <input readonly type="text" style="text-transform:uppercase" autocomplete="off" class="form-control" placeholder="Usuario ID" ng-model="datosUsuarioBloqueado.UserID" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Nombre del empleado</div>
                                        </div>
                                        <input readonly type="text" autocomplete="off" class="form-control" placeholder="Nombre" ng-model="datosUsuarioBloqueado.NombreEmpleado" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Puesto</div>
                                        </div>
                                        <input readonly type="text" autocomplete="off" class="form-control" placeholder="Puesto" ng-model="datosUsuarioBloqueado.NombrePuesto" disabled>
                                    </div>
                                </div>
                                <br />
                                <div align="right">
                                    <div>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="desbloquearCuenta()" data-backdrop="static" data-keyboard="false" data-target="#frmPuestos">Desbloquear</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="cancelarDesbloqueo()" data-backdrop="static" data-keyboard="false" data-target="#frmPuestos">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</form>

@section scripts{
    <script src="~/Assets/js/App/administracionApp.js"></script>
    <script src="~/Assets/js/App/AdministracionService.js"></script>
    <script src="~/Assets/js/App/AppControladores/EstructuraOrganizacional/DesbloqueoDeCuentaController.js"></script>
    <script src="~/Assets/js/App/AppControladores/HomeController.js"></script>
}
