
<div id="Fondo" class="container">
    <div class="abs-center">
        <div class="form-group">
            @*{{Angular}}*@
            <img src="{{ImagenHome}}" alt="Imagen Home" style="max-width:100%;width:auto;height:auto;">
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Assets/js/App/administracionApp.js"></script>
    <script src="~/Assets/js/App/AdministracionService.js"></script>
    <script src="~/Assets/js/App/AppControladores/HomeController.js"></script>
}







@*<div id="Fondo" class="container">
        <div class="abs-center">
            <div class="form-group">
                <img src="~/Assets/img/edomex.png" style="max-width:100%;width:auto;height:auto;">
            </div>
        </div>
    </div>*@