<div class="subheader">
    <h1 class="subheader-title">
        <i class='fal fa-diagnoses'></i> Etapas
    </h1>
</div>


<form name="mdmForm" id="mdmForm" ng-app="AppAdministracion" ng-cloak ng-controller="crtlWFEtapas" ng-submit="mdmForm.$valid && ValidarAccion()">
    <div id="tablaInicial" style="display:block">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acciones<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-backdrop="static" data-keyboard="false" data-toggle="tooltip" title="Nuevo" ng-click="NuevoPuesto()"><i class="fal fa-plus"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                        <table id="dt-resumen" class="table table-bordered table-hover table-striped w-100 tablaPSRPrincipal">
                            <thead>
                                <tr>
                                    <th class="no-sort">Editar</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="tblProcesoEtapa in tablaProcesosEtapas">
                                    <td>
                                        <a href='#' ng-click="ValidarTarea(tblProcesoEtapa, 'Actualizar')" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#default-example-modal-lg" class='btn btn-sm btn-outline-primary btn-icon btn-inline-block mr-1' title='Editar'><i class='fal fa-edit'></i></a>
                                    </td>
                                    <td>{{tblProcesoEtapa.NombreEtapaExterno}}</td>
                                    <td>{{tblProcesoEtapa.DescripcionEtapaExterna}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="nuevoFormulario" style="display:none">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Acciones<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-toggle="tooltip" data-backdrop="static" data-keyboard="false" title="Listar" ng-click="MostrarListado()"><i class="fal fa-align-justify"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <div class="panel-tag">
                Configuración
            </div>
            <div class="form-row row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Proceso</div>
                        </div>
                        <select class="form-control"
                                ng-options="tblProcesos as tblProcesos.NombreProcesoExterno for tblProcesos in tablaProcesos | filter: FiltroProceso"
                                ng-model="proceso" ng-change="setProceso(proceso)" required>
                            <option value="">--Seleccione una opción--</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text  ">Accion</div>
                        </div>
                        <select class="form-control"
                                ng-options="tblAcciones as tblAcciones.NombreAccion for tblAcciones in tablaAcciones"
                                ng-model="accion" ng-change="setAccion(accion)" required>
                            <option value="">--Seleccione una opción--</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" ng-model="WFProcesoEtapa.EjecucionObligatoria" ng-checked="WFProcesoEtapa.EjecucionObligatoria == 1" parse-int ng-true-value="1" ng-false-value="0" />
                            <label class="custom-control-label" for="customSwitch1">Ejecucion obligatoria</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-tag">
                Vista Interna
            </div>
            <div class="form-row row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Nombre</div>
                        </div>
                        <input type="text" autocomplete="off" class="form-control" ng-model="WFProcesoEtapa.NombreEtapaInterno" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Descripcion</div>
                        </div>
                        <input type="text" autocomplete="off" class="form-control" ng-model="WFProcesoEtapa.DescripcionEtapaIntarno" placeholder="Nombre" required>
                    </div>
                </div>
            </div>
            <div class="panel-tag">
                Vista Externa
            </div>
            <div class="form-row row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Nombre</div>
                        </div>
                        <input type="text" autocomplete="off" class="form-control" ng-model="WFProcesoEtapa.NombreEtapaExterno" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Descripcion</div>
                        </div>
                        <input type="text" autocomplete="off" class="form-control" ng-model="WFProcesoEtapa.DescripcionEtapaExterna" placeholder="Nombre" required>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <br />
                    <div class="frame-wrap">
                        <button type="submit" ng-show="btnGuardar" class="btn btn-primary">Guardar</button>
                        <button type="submit" ng-show="btnActualizar" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script src="~/Assets/js/App/administracionApp.js"></script>
    <script src="~/Assets/js/App/AdministracionService.js"></script>
    <script src="~/Assets/js/App/AppControladores/WorkFlowController/WFEtapasController.js"></script>
    <script src="~/Assets/js/App/AppControladores/HomeController.js"></script>
}
